.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .logo {
    width: 4.5rem;
  }

  .text {
    color: var(--clr--main-green);
    font-weight: var(--fw-bold);
    font-size: var(--fs-5);
  }
}

@media only screen and (max-width: 400px) {
  .container {
    position: absolute;
    top: -32.8rem;
    left: 0;
    gap: 0.2rem;

    .logo {
      width: 2.5rem;
    }

    .text {
      color: var(--clr--main-green);
      font-weight: var(--fw-light);
      font-size: var(--fs-3);
    }
  }
}
