.section_2_main_container {
  position: relative;
  top: 80%;

  height: 100%;
  width: 100%;
  padding: 10rem 2rem 2rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  background-color: var(--clr--main-white);

  z-index: 1;
}

.section_2_main_container > h1,
.section_2_main_container > h3 {
  position: relative;
  letter-spacing: 1px;
  font-weight: var(--fw-light);
  color: var(--clr--main-green);
}

.section_2_main_container > h1 {
  font-size: 6rem;

  animation: slide-in-from-left linear;
  animation-timeline: view();
}

.section_2_main_container > h3 {
  font-size: 4rem;
  color: var(--clr-grey-dark);

  animation: slide-in-from-right linear;
  animation-timeline: view();
}

.chef_image {
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  border-radius: 100%;

  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: -20rem;
  animation-range-end: 30rem;

  z-index: -50;
}

.abstract_design_image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15rem;
  width: 100%;
  border-radius: 30rem;
  z-index: -99;
}

.start_creating_link_button {
  position: absolute;
  bottom: 30%;
  border: 2.5px solid white;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  font-size: var(--fs-4);
  color: white;
  background-color: var(--clr--main-green);
  box-shadow: var(--box-shadow--main);

  /* animation: slide-in-from-bottom forwards;
  animation-timeline: view();
  animation-range-start: 30px; */
  /* animation-range-end: 200px; */

  /* transition: 2s; */
  z-index: 1;
}

.start_creating_link_button:hover {
  background-color: var(--clr--hover--main-green);
}

/* .cover {
  position: absolute;
  height: 10rem;
  width: 100vw;
  top: 250%;
  transform: translateZ(0) scale(100%);
  z-index: 99;
} */

@keyframes slide-in-from-left {
  from {
    right: -70vw;
    scale: 0.5;
  }

  to {
    right: 50vw;
    scale: 1;
  }
}

@keyframes slide-in-from-right {
  from {
    left: -70vw;
    scale: 0.5;
  }

  to {
    left: 45vw;
    scale: 1;
  }
}

@keyframes fade-in {
  from {
    scale: 0.6;
    opacity: 0.6;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes slide-in-from-bottom {
  /* from {
    bottom: 0;
  } */

  100% {
    bottom: 50%;
    transform: translateY(-100%);
    transition: 3s;
  }
}
