.container {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  padding: 0.2rem 1rem;
  border-radius: 0 0 5px 5px;
  color: var(--clr-green-4);
  background-color: var(--clr-grey-veryLight);
  box-shadow: var(--box-shadow--main);
  z-index: 99;
}

.text {
  font-size: var(--fs-1);
}
