.ul {
  position: absolute;
  width: 100%;
  height: 4rem;
  padding-left: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
  background-color: var(--clr--main-white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 99;
}

.ul > * {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul > :first-child {
  position: absolute;
  left: 1rem;
}

.ul .nav_link {
  position: relative;

  letter-spacing: 1px;
  font-weight: var(--fw-light);
  font-size: var(--fs-2);
  color: var(--clr-grey-dark);
}

.ul .nav_link::after {
  content: "";
  position: absolute;
  height: 1.4px;
  width: 100%;
  bottom: -6px;
  left: 0;

  background-color: var(--clr--main-green);

  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.ul .nav_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav_link.active {
  color: var(--clr--main-green);
}

@media only screen and (max-width: 400px) {
  .ul {
    height: 10rem;
    width: 12rem;
    right: 0;
    top: 10rem;

    flex-direction: column;
    align-items: start;
    gap: 1rem;

    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
  }

  .ul > * {
    height: auto;
  }

  .ul .nav_link {
    letter-spacing: 0.6px;

    font-weight: var(--fw-light);
    font-size: var(--fs-1_5);
  }
}
