.main_container {
  position: relative;
  height: 100%;
  width: 100%;

  .main_container_bg {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.user_page_info_container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);

  height: 80%;
  width: 85vw;
  padding: 2rem;
  border-radius: 25px;

  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: minmax(1fr, 200px) 10fr minmax(1fr, 200px);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "userImageSection activityBarSection accountSection"
    "userImageSection activityBarSection doughnutSection"
    "bottomLeftSection activityBarSection doughnutSection";
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; */

  background-color: var(--clr--main-white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-height: 667px), screen and (max-width: 375px) {
}

@media screen and (max-width: 1500px) {
  .container_main {
  }
}
